*{
    font-family:sans-serif;    
}

.banner {
    background-image: url('../images/clouds.png');
    text-align:center;
    color:rgb(51, 51, 189)
}

.menu{
    background-color:rgb(119, 119, 235);
    display:flex;
    justify-content:center;
}

.map {
    height: 500px;
    width: 500px;  
    margin:auto;  
}

.line{
    display:flex;
    justify-content:flex-start;
}
.line p{
    width:50px;
}


