*{
    font-family:sans-serif;    
}

.menu{
    background-color:white;
    display:flex;
    justify-content:center;
    
    
}



#overlayContainer{
    position:relative;
    height: 600px;
    width:600px;
    
}

#disp{
    position:absolute;
    top: 0;
    left: 0;
    z-index:3;
}




@keyframes waiting{
    0%{background-image: url('../images/patience.png');}
    25%{background-image: url('../images/patience1.png');}
    60%{background-image: url('../images/patience2.png');}
    100%{background-image: url('../images/patience3.png');}
    
   
}
#wait1{
    height:600px;
    width:600px;
    top: 0;
    left: 0;
    z-index:1;
    position:absolute;
    background-image: url('../images/patience.png');
    
   

}
#wait2{
    height:600px;
    width:600px;
    top: 0;
    left: 0;
    z-index:2;
    position:absolute;
    animation-name:waiting;
    animation-duration:2s;
    animation-iteration-count: infinite;
    
   

}

#mapTitleWrap{
    text-align:center;
    top: 10px;
    right: 15px;
    z-index:4;
    position:absolute;
}
#mapTitleWrap div{
    font-size:20px;
}
#mapTitleWrap div sub{
    font-size:15px;
}

.map {
    height: 600px;
    
    width: 600px;  
    /*margin:auto;  */
}

#info{
    height:45px;  
}

#infobox{
    width: 600px; 
    display:flex;
    justify-content:left;
}

#box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
}
#btw{
    display:flex;
    justify-content: flex-end;
}
/*
#boxlet2{
    margin-left:100px;
    margin-right:10px;
    margin-bottom:10px;
    margin-top:0px
}*/


.boxlet3{
    margin-left:40px;
    
    margin-top:45px
}



#previous,#localLevels{
    width:500px;
}

#localLevels, #previous{
    width: 500px;
}

#levelsContent p{
    width:80px;
}

#levelsContent{
    display:flex;
    flex-wrap:flex;
    justify-content:space-evenly;    
}


#info {
    width: 65px;
    height:auto;
    background-color: rgb(220, 226, 233);
    border: 1px solid rgb(3, 38, 48);
    border-radius:5px;
    visibility:hidden;  
}

#feature-info {
    font-size: 12px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    text-align: center;
    font-size:15px;
    width: 80px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

sub {
    font-size: small; 
    vertical-align: sub;
}
#prevNav{
    width:500px;
    position:relative;
}
#seePrev{
    left:10px;

}
#seeNext{
    left:10px;
}
#eraseSearches{
    right:-282px;
}
#previous{
    top:25px;
}
#displayedSearches{
    left:200px;
}
.rDisp{
    padding:10px;
}
/*
.TitleWrap{
    
}*/
/*
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    }
}
*/