*{
    font-family:sans-serif;    
}
#here{
    position:absolute;
    width:40%;
    top: 10%;
    left: 30%;
    z-index:4;
}
.ourFooter {
    margin-top: 100px;
    bottom: 0;
    position: absolute;
    padding-top: 10px;
    border-top: #FFE08A 2px solid;
    width: 100%;
    margin-bottom: 0;
    background-color: white;
}
.searchLoc {
    bottom: 5%;
    left: 5%;
    z-index: 6;
    background-color: #3488CE;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
}
.currentContainer {
    text-align: center;
}
.getCurrent {
    z-index: 7;
    margin-top: 50px;
}
.searchLoc:hover {
    cursor: pointer;
    color: black;
}
.menu{
    background-color:white;
    display:flex;
    justify-content:center;   
}

#overlayContainer{
    position:relative;
    height: 600px;
    width:600px;   
}

#disp{
    position:absolute;
    top: 0;
    left: 0;
    z-index:3;
}

@keyframes waiting{
    0%{background-image: url('../images/waiting1.png');}
    15%{background-image: url('../images/waiting2.png');}
    30%{background-image: url('../images/waiting3.png');}
    45%{background-image: url('../images/waiting4.png');}
    60%{background-image: url('../images/waiting5.png');}
    75%{background-image: url('../images/waiting4.png');}
    80%{background-image: url('../images/waiting3.png');}
    95%{background-image: url('../images/waiting2.png');}
    100%{background-image: url('../images/waiting1.png');}
         
}
#wait1{
    height:600px;
    width:600px;
    top: 0;
    left: 0;
    z-index:1;
    position:absolute;
    background-image: url('../images/waiting3.png');
    object-fit:contain;
}
#wait2{
    height:600px;
    width:600px;
    top: 0;
    left: 0;
    z-index:2;
    position:absolute;
    animation-name:waiting;
    animation-duration:1s;
    animation-iteration-count: infinite;
    object-fit:contain; 
}

#mapTitleWrap{
    text-align:center;
    top: 10px;
    right: 15px;
    z-index:4;
    position:absolute;
}
#mapTitleWrap div{
    font-size:20px;
}
#mapTitleWrap div sub{
    font-size:15px;
}

#map {
    height: 600px;
    width: 600px;
    
    /*margin:auto;  */
}

#info{
    height:45px;  
}


#box{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top:15px;
}
#btw{
    display:flex;
    justify-content: flex-end;
}

.boxlet2{
    margin-left:10px;
    margin-right:10px;
   
}


.boxlet3{
    margin-left:40px;
    
    margin-top:45px
}

#previous,#localLevels{
    width:500px;
}

#levelsContent p{
    width:80px;
}

#levelsContent{
    display:flex;
    flex-wrap:flex;
    justify-content:space-evenly;    
}


#info {
    width: 65px;
    height:auto;
    background-color: rgb(220, 226, 233);
    border: 1px solid rgb(3, 38, 48);
    border-radius:5px;
    visibility:hidden;  
}

#feature-info {
    font-size: 12px;
}

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    text-align: center;
    font-size:12px;
    width: 80px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

sub {
    font-size: small; 
    vertical-align: sub;
}
#prevNav{
    width:500px;
    position:relative;
}
#seePrev{
    left:330px;
}

#eraseSearches{
    margin: auto;
}
#previous{
    top:25px;
}
#displayedSearches{
    left:200px;
}
.rDisp{
    padding:10px;
}
@media screen and (max-height: 834px) {
    .ourFooter {
        position: relative;
    } 
}
@media screen and (max-width: 1159px){
    .boxlet3 {
        margin-left: auto;
    }
}
@media screen and (max-width: 1119px){
    .boxlet3 {
        margin-left: 0;
    }
}

@media screen and (max-width: 1139px){
    .ourFooter {
        position: relative;
    }  
}
@media screen and (min-width: 1140px) and (min-height:835px){
    .ourFooter {
        position: absolute;
    }  
}
@media screen and (max-width:620px){
    .searchLoc {
        margin-top: 350px;
    }
    .boxlet3 {
        margin-top: 80px;
    }
    #overlayContainer, #map, #wait1, #wait2, .boxlet2, #previous,#localLevels,#prevNav{     
        height:500px;
        width:500px;    
    }
    #previous {
        height: 430px;
    }
    #localLevels {
        height: auto;
    }
    .ourFooter {
        position: fixed;
    }
    .ol-popup {
        font-size:10;
    }
    .ol-popup sub{
        font-size: x-small;
    }
}
@media screen and (max-width:520px){
    .searchLoc {
        margin-top: 250px;
    }
    #overlayContainer, #map, #wait1, #wait2,.boxlet2, #previous,#localLevels,#prevNav{    
        height:400px;
        width:400px;      
    }
    #seePrev{
        left:230px;
    }
    #localLevels {
        height: auto;
    }

    .ol-popup {
        font-size:8px;
    }
    .ol-popup sub{
        font-size: x-small;
    }
}
@media screen and (max-width:420px){
    .searchLoc {
        margin-top: 150px;
    }
    #overlayContainer, #map, #wait1, #wait2,.boxlet2, #previous,#localLevels, #prevNav{       
        height: 300px;
        width:300px;        
    }
    #seePrev{
        left:130px;
    }
    #localLevels {
        height: auto;
    }
    #previous {
        height: 450px;
    }

    .ol-popup {
        font-size:7;
    }
    .ol-popup sub{
        font-size: xx-small;
    }   
}